<fibo-form-field
  [control]="formFieldControl"
  appendIcon="chevron-down"
  fiboPopoverTriggerClick #trigger="PopoverTrigger">
  <ng-content>
    @let user = selectedUser();
    @if(user) {
      <div class="flex items-center gap-2 mt-0.5">
        <img
          [src]="user.avatar"
          [alt]="user.username"
          class="w-6 h-6 rounded-full object-cover"
        />
        <div class="flex flex-col">
          <span class="text-sm font-medium truncate text-gray-900 dark:text-gray-100 leading-none" >{{ user.username }}</span>
          <span class="text-xs truncate text-gray-500 dark:text-gray-400 leading-none">{{ user.email }}</span>
        </div>
      </div>
    }
  </ng-content>
</fibo-form-field>

<fibo-form-field-errors [control]="formFieldControl" ></fibo-form-field-errors>

@if (trigger.isOpen()) {
  <div fiboPopover
       fiboDataList
       class="fibo-popover max-h-70 overflow-y-auto py-1 px-1 rounded-md"
       [popoverTrigger]="trigger"
       [fullPopoverWidth]="true"
       [(SingleSelectionModel)]="value"
       (optionTriggered)="trigger.close()"
  >
    @for (user of users(); track user.id) {
      @let isSelected = user.id === selectedUser()?.id;
      <a [fiboListItemValue]="user.id"
         class="datalist-item py-0.5 px-2 rounded-md relative group">
        <div class="flex items-center gap-3">
          <img
            [src]="user.avatar"
            [alt]="user.username"
            class="w-8 h-8 rounded-full object-cover"
          />
          <div class="flex flex-col min-w-0">
            <span class="text-sm font-medium truncate"
                  [class.text-white]="isSelected"
                  [class.text-gray-900]="!isSelected"
                  [class.dark:text-gray-100]="!isSelected">{{ user.username }}</span>
            <span class="text-xs truncate"
                  [class.text-primary-50]="isSelected"
                  [class.text-gray-500]="!isSelected"
                  [class.dark:text-gray-400]="!isSelected">{{ user.email }}</span>
          </div>
        </div>
      </a>
    }
  </div>
}
