/* Fibo UI Component Styles */
@layer components {
  .form-field-icon {
    color: var(--form-field-label-text);
  }

  .from-field-placeholder {
    color: var(--form-field-placeholder);
    transition: color 200ms;
  }

  /* Modal component */
  .fibo-modal {
    box-shadow: var(--shadow-lg);
    background-color: var(--modal-bg);
    outline: 1px solid var(--modal-outline);
    outline-offset: -1px;
  }

  /* Popover component */
  .popover-container {
    padding: 0.25rem;
    border-radius: 0.375rem;
    max-height: 17.5rem;
    overflow-y: auto;
    box-shadow: var(--shadow-xl);
    background-color: var(--popover-bg);
    outline: 1px solid var(--popover-outline);
    outline-offset: -1px;
  }

  /* Tooltip component */
  .tooltip-container {
    padding: 0.375rem 0.625rem;
    border-radius: 0.375rem;
    box-shadow: var(--shadow-xl);
    background-color: var(--popover-bg);
    outline: 1px solid var(--popover-outline);
    outline-offset: -1px;
    font-size: 0.8125rem;
    line-height: 1.25rem;
    overflow: visible;
  }

  .fibo-card {
    background-color: var(--card-bg);
    outline: 1px solid var(--card-outline);
    outline-offset: -1px;
  }

  /* Input */
  .fibo-input {
    color: var(--input-text);
    transition: color 200ms;
  }

  .fibo-input::placeholder {
    color: var(--form-field-placeholder);
    transition: color 200ms;
  }

  .group[data-error="true"] .fibo-input::placeholder {
    color: var(--form-field-label-text);
  }

  .group[aria-disabled="true"] .fibo-input,
  .fibo-input[aria-disabled="true"] {
    color: var(--input-text-disabled);
  }

  .group[aria-disabled="true"] .fibo-input::placeholder,
  .fibo-input[aria-disabled="true"]::placeholder {
    color: var(--form-field-label-text-disabled);
  }

  /* DataList item */
  .datalist-item {
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    position: relative;
    font-size: 0.875rem;
    line-height: 1.25rem;
    cursor: pointer;
    background-color: var(--datalist-item-bg);
    color: var(--datalist-item-text);
  }

  .datalist-item[data-active="true"] {
    background-color: var(--datalist-item-bg-active);
  }

  .datalist-item[aria-disabled="true"] {
    background-color: var(--datalist-item-bg-disabled);
    color: var(--datalist-item-text-disabled);
  }

  .datalist-item[data-multiple="false"][aria-selected="true"] {
    background-color: var(--datalist-item-bg-selected);
    color: var(--datalist-item-text-selected);
  }

  .datalist-item[aria-selected="true"][aria-disabled="true"] {
    background-color: var(--datalist-item-bg-selected);
    color: var(--datalist-item-text-selected);
  }

  .datalist-item[aria-selected="true"][data-active="true"][aria-disabled="true"] {
    background-color: var(--datalist-item-bg-selected);
    color: var(--datalist-item-text-selected);
  }

  .datalist-item[aria-disabled="true"][data-active="true"] {
    background-color: var(--datalist-item-bg-disabled);
  }
}
