<nav fiboRouterSelectOne>
  <side-menu-group label="Getting Started" icon="book-open">
    <side-menu-item icon="info" url="/getting-started/introduction">Introduction</side-menu-item>
    <side-menu-item icon="package" url="/getting-started/installation">Installation</side-menu-item>
  </side-menu-group>

  <side-menu-group label="CDK">
    <side-menu-item icon="list" url="/cdk/data-list">Data List</side-menu-item>
    <side-menu-item icon="panel-right" url="/cdk/overlay">Overlays</side-menu-item>
    <side-menu-item icon="check-square" url="/cdk/selection-model">Selection Model</side-menu-item>
    <side-menu-item icon="text-cursor-input" url="/field-control">Field Control</side-menu-item>
  </side-menu-group>

  <side-menu-group label="Components" icon="component">
    <side-menu-item icon="text-cursor-input" url="/input">Input</side-menu-item>
    <side-menu-item icon="chevron-down" url="/">Select</side-menu-item>
    <side-menu-item icon="layers" url="/select-multiple">Multiple Select</side-menu-item>
    <side-menu-item icon="search" url="/combobox">Combobox</side-menu-item>
    <side-menu-item icon="calendar-days" url="/datepicker">Datepicker</side-menu-item>
    <side-menu-item icon="menu" url="/menu">Menu</side-menu-item>
    <side-menu-item icon="git-branch" url="/tree-menu">Tree Menu</side-menu-item>
    <side-menu-item icon="message-square" url="/dialog">Dialog</side-menu-item>
    <side-menu-item icon="panel-right" url="/drawer">Drawer</side-menu-item>
    <side-menu-item icon="shield-check" url="/confirmation">Confirmation</side-menu-item>
    <side-menu-item icon="square-mouse-pointer" url="/tooltips">Tooltips</side-menu-item>
    <side-menu-item icon="bell" url="/notifications">Notifications</side-menu-item>
    <side-menu-item icon="list" url="/listbox">Listbox</side-menu-item>
    <side-menu-item icon="mouse-pointer-click" url="/button-demo">Button</side-menu-item>
  </side-menu-group>

  <side-menu-group label="Examples" icon="folder">
    <side-menu-item icon="file-text" url="/form-examples">Form Examples</side-menu-item>
    <side-menu-item icon="layout-template" url="/field-shell-examples">Field Shell Examples</side-menu-item>
    <side-menu-item icon="component" url="/components-fields-form">Components Fields Form</side-menu-item>
    <side-menu-item icon="code" url="/playground">Playground</side-menu-item>
    <side-menu-item icon="sun" url="/theme-demo">Theme Demo</side-menu-item>
  </side-menu-group>
</nav>
