<app-form-actions [ctrl]="ctrl">
  <div class="relative mt-2 w-[350px] space-y-1">
    <span  class="block text-sm/6 font-medium text-gray-900">Placeholder</span>
    <sui-input [placeholder]="'type city name'" [formControl]="ctrl" />

    <span  class="block text-sm/6 font-medium text-gray-900 mt-2">Label</span>
    <sui-input label="City" [formControl]="ctrl" />

    <span  class="block text-sm/6 font-medium text-gray-900 mt-2">Fixed Label</span>
    <sui-input fixedLabel="City" placeholder="type city name" [formControl]="ctrl" />
  </div>
</app-form-actions>
